

body {
    background-color: #9E0059;
    border: whitesmoke dotted 15px;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 1px;
}
#player-turn {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px 0px;
}
.song-controls {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}
.song-controls button {
    margin: 5px 40px;
    padding: 10px 40px;
    background-color: #d704b2;
    color: whitesmoke;
    font-weight: bold;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: #f04e31;
    font: bolder;
    font-family: bradley hand;
}

h2 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 2em;
}


.choices-container {
    display: flex;
    justify-content: center;
}

.choices-container button {
    margin: 5px 0px;
    padding: 10px;
    background-color: #FFBD00;
    color: black;
    font-weight:bold;
}

.artist-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    max-width: 500px;
    margin: 0px 5px;
}

#artist-choice-1:hover {
    background-color: #deff0a;
}
#artist-choice-2:hover {
    background-color: #deff0a;
}
#artist-choice-3:hover {
    background-color: #deff0a;
}
#artist-choice-4:hover {
    background-color: #deff0a;
}

#song-choice-1:hover {
    background-color: #deff0a;
}
#song-choice-2:hover {
    background-color: #deff0a;
}
#song-choice-3:hover {
    background-color: #deff0a;
}
#song-choice-4:hover {
    background-color: #deff0a;
}

#artist-choice-1:focus {
    background-color: #deff0a;
}
#artist-choice-2:focus {
    background-color: #deff0a;
}
#artist-choice-3:focus {
    background-color: #deff0a;
}
#artist-choice-4:focus {
    background-color: #deff0a;
}

#song-choice-1:focus {
    background-color: #deff0a;
}
#song-choice-2:focus {
    background-color: #deff0a;
}
#song-choice-3:focus {
    background-color: #deff0a;
}
#song-choice-4:focus {
    background-color: #deff0a;
}

.song-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    max-width: 500px;
    margin: 0px 5px;
}

#message-box {
    color: whitesmoke;
}

#submit {
    margin: 30px 50px;
    padding: 10px 50px;
    background-color: #d704b2;
    color: whitesmoke;
    font-weight: bold;
}

.score-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: whitesmoke;
    font-size: 20px;
    margin: 25px 0px
}

#player1-score {
    display: flex;
    justify-content: center;
    margin: 0px 7em;
}

#player2-score {
    display: flex;
    justify-content: center;
    margin: 0px 7em;
}